
.container1{
    display: flex;
    flex-direction: column;   
    flex-wrap: wrap; 
}
#leftBox{
    /* border: 2px solid black; */
    /* margin: 6% 2% 6% 2%; */
    width: 74%;
    /* animation-name: ronit;
    animation-duration: 8s;
    animation-iteration-count: infinite; */
    /* margin: auto; */
    width: 100%;
}
.midBox{
    width: 80%;
    height: auto;
    /* border: 2px solid green; */
    /* margin: 6% 2% 6% 2%; */
    background: none;
    /* background-color: green; */
    width: 100%;
}
#rightBox{
    /* border: 2px solid black; */
    /* margin: 10%; */
    /* margin-left: 5%; */
    /* margin: 6% 2% 6% 2%; */
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#CompanyName h2{
    font-size: 4vw;
}
#CompanyName h3{
    font-size: 3vw;
}
#navbar ul li{
    font-size: 1vw;
}