*{
    box-sizing: border-box;
}
body{
    width: 100%;
    margin: 0%;
    padding: 0%;

}

/*  Navigation Bar */
#navbar{
    /* border: 2px solid rgb(255, 0, 221); */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: goldenrod;
    
}
#logo{
    /* border: 2px solid crimson; */
    margin: 0% 2%;
    width: 10%;
}

#logo img{
    height: 80px;
    margin: auto;
}
#CompanyName{
    display: flex;
    /* border: 2px solid black; */
    padding:0;
    width: 20%;
}

#CompanyName h2{
    margin-right: 2%;
    font-size: 4vw;
    font-family: 'UnifrakturMaguntia', cursive;
    margin: 10px;
    animation-name: OnH2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes OnH2 {
    0%{
        color: red;
       
    }
    20%{
        color:rgb(0, 255, 42);

    }
    40%{
       color: rgba(0, 140, 255, 0.822);
    }
    60%{
       color: rgb(255, 0, 200);
    }
    80%{
        color:blue;
    }
    100%{
        color: cyan;
    }
}
#CompanyName h3{
    margin-right: 2%;
    font-size: 3vw;
    font-family: 'Montez', cursive;
    margin: 0;
    animation-name: OnH3;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes OnH3 {
    0%{
        color: red;
       
    }
    20%{
        color: chartreuse;

    }
    40%{
       color: rgb(0, 174, 255);
    }
    60%{
       color: cyan;
    }
    80%{
        color: rgb(134, 0, 0);
    }
    100%{
        color:blue;
    }
}
#navbar ul{
    /* border: 2px dashed black; */
    margin: auto;
    padding: 1px;
    display: flex;
    font-family: 'Baloo Bhai', cursive;
    width: 70%;
}
#navbar ul li{ 
    list-style: none;
    font-size: 2vw;
    /* border: 2px solid black; */
    width: 25%;
    text-align: center;
    margin: 0%;
    padding: 0%;
}
/* Media Quary on Navbar */
@media screen and (max-width:1050px){
    #logo{
        margin: 0;
        height: 50%;
    }
    #logo img{
        height: 60px;
    }
    #CompanyName h2{
        margin: 0%;
        font-size: 6vw;
    }
    #CompanyName h3{
        margin: 0%;
        font-size: 4vw;
    }
    #navbar ul{
        margin: 0%;
    }
    #navbar ul li{
        padding: 0%;
        font-size: 2.5vw;
    }
}
@media screen and (max-width:700px){
    #logo{
        margin: 0;
        height: 50%;
    }
    #logo img{
        height: 40px;
    }
}
#navbar ul li a{
    color: white;
    display: block;
    /* padding: 3px 22px; */
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* Container */
.container1{
    /* border: 4px dotted yellow; */
    background-color: goldenrod;
    display: flex;
    align-items: center;
    justify-content: center;
}
#leftBox{
    /* border: 2px solid red; */
    margin: 6% 0%;
    width: 30%;
    padding: 0% 2%;
}

#leftBox p{
    margin: 0%;
    padding: 5%;
    font-family: 'Satisfy', cursive;
    font-size: 1.5rem;
    text-align: center;

}
#leftBox h1{
    text-align: center;
    font-size: 4rem;
    font-family: 'Redressed', cursive;
    animation-name: ronit1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes ronit1 {
    0%{
        color: red;
       
    }
    25%{
        color:blue;

    }
    75%{
       color: chartreuse;
    }
    100%{
       color: cyan;
    }
    
}
#leftBox h2{
    text-align: center;
    font-size: 3rem;
    font-family: 'Ravi Prakash', cursive;
    animation-name: ronit2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes ronit2 {
    0%{
        color:cyan;
    }
    25%{
        color:red
    }
    75%{
       color: blue;
    }
    100%{
       color: chartreuse;
    }
    
}
.midBox{
    height: auto;
    /* border: 2px solid green; */
    background: none;
    margin: 6% 0%;
    width: 30%;
    padding: 0% 2%;

}
.midBox h1{
    color: white;
    font-family: 'Heebo', sans-serif;
    width: 100%;
    display: inline-block;
    font-size: 30px;
    border-bottom: 3px solid silver;
    margin-bottom: 15px;
    padding: 13px 0;
}
.box{
    width: 100%; 
    margin: 22px 0px;
    border-bottom: 2px solid silver;
}
.box input{
    background: none;
    width: 75%;
    padding: 5px 10px;
    font-size: 20px;
    border: none;
    outline:none;
    color: white;
}
.box i{ 
    width: 25px; 
    text-align: center;
}
.box1{
    /* border: 2px solid black; */
    padding: 0px;
    margin: 0px;display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    color: white;
    cursor: pointer;
    outline: none; 
    margin: -5px 0;
    padding: 10px 21px;
    border: 2px solid purple;
    border-radius: 10px;
    font-size: 18px;
    background: none;
    font-weight: bold;
    width: 50%;
}
.btn:hover{
    color: black; 
    background: white; 
    box-shadow: 4px 6px grey;
    
}
/* Set a style for all buttons */
.box1 button {
    background-color: #04AA6D;
    /* color: white; */
    /* background: transparent; */
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    /* opacity: 0.9; */
  }
  
  .box1 button:hover {
    opacity:1;
  }
.box1 p a {
    font-family: 'Heebo', sans-serif;
    color: whitesmoke ;
    text-decoration: none;
    font-size: 1.3rem;
}
#rightBox{
    /* border: 2px solid black; */
    margin: 6% 0%;
    width: 30%;
    padding: 0% 2%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width:1050px){
    #leftBox{
        width: 60%;
        /* margin: 10%; */
    }
    #leftBox h1{
        font-size: 6rem;
    }
    #leftBox h2{
        font-size: 5rem;
        animation-name: LeftBoxH2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes LeftBoxH2 {
    0%{
        color:cyan;
        
    }
    25%{
        color:red
    }
    75%{
       color: blue;
    }
    100%{
       color: chartreuse;
    }
    
}
    .midBox{
        width: 60%;
    }
    #rightBox{
        width: 80%;
    }
    .container2{
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
}
@media screen and (max-width:700px){
    #leftBox{
        width: 80%;
        /* border: 2px solid black; */
    }
    .midBox{
        width: 80%;
        margin: 6%;
    }
    #rightBox{
        width: 80%;
    }
}
.container2{
    /* border: 2px solid black; */
    padding: 2%;
    display: flex;
}
.container2Box1{
    /* border: 4px solid red; */
    width: 50%;
    margin-right: 6px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.container2Box2{
    /* border: 4px solid green; */
    width: 50%;
    height: 100%;
    margin-left: 6px;
}
.container2Box2 img{
    margin-top: 6px;
    margin-bottom: 6px;
}
#alwaysTastyBurger{
    /* border: 4px solid blue; */
    font-family: 'Rock Salt', cursive;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    animation-name: alwaysTastyBurger;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes alwaysTastyBurger {
    0%{
        color: #dd4b39;
        
    }
    25%{
        color: chartreuse;
    }
    50%{
        color: cyan;
    }
    75%{
        color: blue;
    }
    100%{
        color: gold;
    }
}
#alwaysTastyBurger h2:hover{
    color: red;
}
.container3{
    /* border: 2px solid green; */
    padding: 2px;
    margin-top: 2%;
    text-align: center;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.container3Box{
    /* border: 4px solid red; */
    width: 30%;
    margin: auto;
    height: auto;
}
.container3Box img{
    height: auto;
}
a{
    color: black;
}
@media screen and (max-width:1030px){
    .container3Box{
        width: 40%;
    }
}
@media screen and (max-width:600px){
    .container3Box{
        width: 60%;
    }
}
.button {
    border: none;
    color: white;
    padding: 26px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    
  }

 
 #hotelName{
    /* border: 4px solid blue; */
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
     font-size: 4.5vw;
    font-family: 'Frijole', cursive;
    animation-name: hotelName;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes hotelName{
    0%{
        color: #dff800;
    }
    25%{
        color: rgb(0, 17, 255);
    }
    50%{
        color: rgb(255, 0, 221);
    }
    75%{
        color: rgb(0, 255, 234);
    }
    100%{
        color: rgb(253, 0, 84);
    }
}
.button1{
    width: 200px;
    height: 50px;
    background-color: brown;
    color: white;
    font-size: 20px;
    box-shadow: 4px 4px lightgrey;
    border-radius: 6px;
    
}
 .container3Box a{
    display: block;
    text-align: center;
    padding: 0 px;
    text-decoration: none;
    width: 100px;
    height: 40px;
    background-color: rgb(223, 6, 6);
    color: white;
    font-size: 20px;
    /* box-shadow: 4px 4px lightgrey; */
    border-radius: 6px;
    margin: auto;
    font-family: 'Baloo Bhai', cursive;
    
} 
.container3Box a:hover{
    background-color: rgba(255, 255, 255, 0.431);
    color: black;
    box-shadow: 4px 4px grey;
}



/* .container2{
    background-color: royalblue;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}
.image1{
    border: 2px solid green;
}
.image2{
    height: 50%;
    width: 100%;
}
.image3{
    height: 50%;
    width: 100%;
} */

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  .BookTableContainer{
      /* border: 2px solid red; */
      padding: 4px;
      background-color: blanchedalmond;
  }
  #BookTable{
    /* border: 4px solid blue; */
    display: inline-block;
    /* margin-left: 40%;
    margin-top: 4%; */
    display: flex;
    align-items: center;
   /* border: 2px solid black; */
    justify-content: center;
     font-size: 2rem;
    font-family: 'Frijole', cursive;
    animation-name: BookTable;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes BookTable {
    0%{
        color: #83dd39;
        
    }
    25%{
        color: rgb(0, 26, 255);
    }
    50%{
        color: rgb(255, 0, 0);
    }
    75%{
        color: blue;
    }
    100%{
        color: gold;
    }
}
table{
    /* align-items: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}
table tr{
    text-align: left;
}
table input{
    background: #fdf7f7;
    width: 75%;
    padding: 5px 10px;
    font-size: 20px;
    border: none;
    outline:none;
    /* color: white; */
    border-bottom: 1px solid blue;
    color: #060606b0;
    margin: 4px;
}
table input:hover{
    background: #e2e2e2;
}
#date{
    color: #060606b0;
}
#time{
    background: #fdf7f7;
    width: 75%;
    padding: 5px 10px;
    font-size: 20px;
    border: none;
    outline:none;
    /* color: white; */
    border-bottom: 1px solid blue;
    color: #060606b0;
    margin: 4px;
}
#time:hover{
    background: #e2e2e2;
}
#BookNow{
    display: flex;
    align-items: center;
    justify-content: center;
}
.BookButton{
    color: #060606b0;
    cursor: pointer;
    outline: none; 
    margin: -5px 0;
    padding: 10px 21px;
    /* border: 2px solid purple; */
    border-radius: 10px;
    font-size: 18px;
    background: none;
    font-weight: bold;
}
.BookButton:hover{
    /* opacity: 0.5; */
    color: black; 
    background: white;   
    box-shadow: 4px 6px rgb(204, 197, 197);
}
.Reset{
    color: #060606b0;
    cursor: pointer;
    outline: none; 
    margin: -5px 0;
    padding: 10px 21px;
    /* border: 2px solid purple; */
    border-radius: 10px;
    font-size: 18px;
    background: none;
    font-weight: bold;
}
.Reset:hover{
    /* opacity: 0.5; */
    color: black; 
    background: white;   
}
#Button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
}
  footer{
    background: black;
    color: white;
    padding-bottom: 1%;
    margin-top: 0%;
}
.center{
    padding-top: 2%;
    text-align: center;
    font-size: 1.5rem;
}
@media screen and (max-width:1050px){
    .center{
        font-size: 2vw;
    }
}
  #AboutUs{
      /* border: 2px solid white; */
      display: flex;
      /* background-color: rgba(128, 128, 128, 0.425); */
      background: url(Hotel/hotel4.jpg);
      
      
      
      margin: 0;
  }
  #AboutUS img{
      opacity: 0.6;
  }
  .myName{
      /* border: 2px solid yellow; */
      /* float: left; */
      margin: auto;
      font-family: 'Charmonman', cursive;
      text-align: center;
      width: 25%;
      
  }
  .Address{
      /* border: 2px solid cyan; */
      width: 40%;
      padding-left: 10%;
      margin-top: 1%;
      /* padding-right: 10%; */
  }
  .Address p{
      color: gold;
      padding: 2px;
      margin: 2px;
  }
  .AddressHeading h4{
      margin: 0px;
      /* border: 2px solid white; */
      padding: 0px;
      color: red;
      font-family: 'Vidaloka', serif;
  }
  .SocialLink{
    /* border: 2px solid green; */
    float: right;
    width: 35%;
    display: inline-block;
    margin: auto;
    margin-left: 5%;
    margin-right: 5%;
  }
  .fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 10px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }



  /* Sign Up Box  */
  /* Full-width input fields */
.modal input[type=text], .modal input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
.modal input[type=text]:focus, .modal input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
.box1 button {
  /* background-color: #04AA6D; */
  /* color: white; */
  background: transparent;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  /* opacity: 0.9; */
}

.box1 button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}
.signupbtn{
    padding: 14px 20px;
    background-color: #5cf436;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}
.container h1{
    color: black;
}
.CompanyNameSignUp{
    display: flex;
    /* border: 2px solid black; */
    padding:0;
    width: 20%;
}

.CompanyNameSignUp h2{
    margin-right: 2%;
    font-size: 4rem;
    font-family: 'UnifrakturMaguntia', cursive;
    margin: 10px;
    animation-name: OnH2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes OnH2 {
    0%{
        color: red;
       
    }
    20%{
        color:rgb(0, 255, 42);

    }
    40%{
       color: rgba(0, 140, 255, 0.822);
    }
    60%{
       color: rgb(255, 0, 200);
    }
    80%{
        color:blue;
    }
    100%{
        color: cyan;
    }
}
.CompanyNameSignUpe h3{
    margin-right: 2%;
    font-size: 3rem;
    font-family: 'Montez', cursive;
    margin: 0;
    animation-name: OnH3;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes OnH3 {
    0%{
        color: red;
       
    }
    20%{
        color: chartreuse;

    }
    40%{
       color: rgb(0, 174, 255);
    }
    60%{
       color: cyan;
    }
    80%{
        color: rgb(134, 0, 0);
    }
    100%{
        color:blue;
    }
}